* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.register {
    display: flex;
    /* background-color: red; */

    #logo{
        z-index: 1;
        top: 20px;
        left: 32px;
        color: #fff;
        font-size: 32px;
        font-weight: 800;
        position: absolute;
        font-family: poppins;
        text-decoration: none;
    }

    .img {
        top: -100px;
        width: 600px;

        img {
            top: -150px;
            width: 100%;
            position: relative;
        }
    }

    .container {
        width: 472px;
        padding: 50px 100px;
        /* background-color: greenyellow;*/

        .text{
            margin-bottom: 36px;
            /* background-color:antiquewhite; */

            h1 {
                font-size: 36px;
                margin-bottom: 14px;
                font-family: Montserrat;
            }

            p{
                opacity: 0.6;
                font-size: 14px;
                font-weight: 400;
                font-family: arial;
            }
        }

        #form {
            gap: 24px;
            display: flex;
            width: 485px;
            flex-direction: column;

            .form-control {
                display: flex;
                font-family: arial;
                flex-direction: column;

                label {
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 8px;
                }

                #username, #email, #password, #cpassword{
                    width: auto;
                    border: none;
                    padding: 16px;
                    border-radius: 4px;
                    background-color: #F2F2F2;
                }

                #error-username,
                #error-email,
                #error-password,
                #error-cpassword {
                    color: red;
                    margin-top: 4px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            button{
                border: none;
                color: #fff;
                margin-top: 4px;
                font-weight: 600;
                padding: 16px 32px;
                border-radius: 4px;
                background-color: #B46E43;
            }
            button:hover{
                cursor: pointer;
                background-color: #ad6b32;
            }

            .login{
                display: flex;
                font-size: 14px;
                margin-top: 24px;
                text-align: left;
                font-family: arial;

                p{
                    opacity: 0.6;
                }

                a{
                    color: #B46E43;
                    text-decoration: none;
                }

                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }


}