*{
    margin: 0;
    padding: 0;
}

.footer{
    gap: 50px;
    display: flex;
    padding: 50px 100px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #EDEDED;

    h1{
        font-size: 24px;
        font-family: Montserrat;

        span{
            color: #b46e43;
        }
    }
    .menu{
        gap: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            font-size: 14px;
            font-weight: 500;
            font-family: Montserrat;
        }
    }

    .line{
        width: 1000px;
        height: 2px;
        background-color: #000;
    }

    .copyright{
        font-size: 14px;
        font-weight: 500;
        font-family: Montserrat;
    }

}