body {
    margin: 0;
    padding: 0;

    /* hero */
    .hero {
        display: flex;
        padding: 30px 100px 100px 100px;
        /* background-color: azure; */

        #interior {
            width: 450px;
            height: 550px;
        }

        .box {
            padding: 100px 0;
            /* background-color: aliceblue; */

            .text {
                position: relative;
                /* background-color: aqua; */
                z-index: 3;

                #top {
                    left: -100px;
                    font-size: 64px;
                    font-weight: 400;
                    width: max-content;
                    position: relative;
                    font-family: "Playfair Display";
                    /* background-color: antiquewhite; */

                    span {
                        color: #b46e43;
                    }
                }

                #bottom {
                    left: 75px;
                    font-size: 64px;
                    font-weight: 400;
                    width: max-content;
                    position: relative;
                    margin-bottom: 40px;
                    font-family: "Playfair Display";
                }

                p {
                    left: 75px;
                    opacity: 0.5;
                    width: 560px;
                    font-size: 14px;
                    line-height: 150%;
                    position: relative;
                    padding-bottom: 54px;
                    font-family: Montserrat;
                }
            }

            #shopping {
                gap: 8px;
                left: 75px;
                border: none;
                color: #fff;
                display: flex;
                font-weight: 500;
                padding: 12px 24px;
                position: relative;
                border-radius: 8px;
                align-items: center;
                font-family: Montserrat;
                background-color: #b46e43;

                img {
                    width: 24px;
                }
            }
        }
    }

    /* featured */
    .featured {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 100px;

        .f-1 {
            gap: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #icon-1 {
                width: 40px;
            }

            #icon {
                width: 30px;
            }

            .text {
                font-family: Montserrat;
                font-size: 14px;

                h2 {
                    font-size: 14px;
                }
            }
        }
    }

    /* collections */
    .collections {
        gap: 72px;
        display: flex;
        padding: 80px 100px;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .heading {
            gap: 18px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 36px;
                font-weight: 400;
                font-family: Playfair Display;
            }

            .line {
                width: 80px;
                height: 5px;
                background-color: #b46e43;
            }
        }

        .container {
            gap: 24px;
            display: flex;
            flex-direction: column;

            .hover-animation:hover {
                cursor: pointer;
                transform: translateY(-10px);
            }

            .tub-1 {
                gap: 24px;
                display: flex;
                /* background-color: aqua; */

                .box-1 {
                    gap: 14px;
                    width: 220px;
                    height: 220px;
                    display: flex;
                    padding: 0 24px;
                    align-items: center;
                    transition: ease 0.3s;
                    flex-direction: column;
                    background-color: #f2f2f2;

                    h2 {
                        font-family: Montserrat;
                    }

                    img {
                        width: 170px;
                    }
                }

                .box-2 {
                    gap: 24px;
                    height: 220px;
                    display: flex;
                    padding: 0 24px;
                    align-items: center;
                    transition: ease 0.3s;
                    background-color: #f2f2f2;

                    h2 {
                        font-family: Montserrat;
                    }

                    img {
                        width: 150px;
                    }
                }

                .box-3 {
                    height: 220px;
                    display: flex;
                    padding: 0 24px;
                    align-items: center;
                    transition: ease 0.3s;
                    background-color: #f2f2f2;

                    h2 {
                        font-family: Montserrat;
                        position: relative;
                        right: -14px;
                    }

                    img {
                        width: 180px;
                    }
                }
            }

            .tub-2 {
                gap: 24px;
                display: flex;

                .box-1 {
                    gap: 32px;
                    height: 220px;
                    display: flex;
                    padding: 0 24px;
                    align-items: center;
                    transition: ease 0.3s;
                    background-color: #f2f2f2;

                    h2 {
                        top: 24px;
                        position: relative;
                        font-family: Montserrat;
                    }

                    img {
                        width: 120px;
                    }
                }

                .box-2 {
                    gap: 14px;
                    height: 220px;
                    display: flex;
                    padding: 0 24px;
                    align-items: center;
                    transition: ease 0.3s;
                    background-color: #f2f2f2;

                    h2 {
                        left: 14px;
                        position: relative;
                        font-family: Montserrat;
                    }

                    img {
                        width: 170px;
                    }
                }

                .box-3 {
                    gap: 32px;
                    height: 220px;
                    display: flex;
                    padding: 0 24px;
                    align-items: center;
                    transition: ease 0.3s;
                    background-color: #f2f2f2;

                    h2 {
                        left: 14px;
                        position: relative;
                        font-family: Montserrat;
                    }

                    img {
                        width: 150px;
                    }
                }
            }
        }
    }

    /* product */
    .product {
        gap: 40px;
        display: flex;
        padding: 100px;
        flex-direction: column;

        .text {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .heading {
                gap: 18px;
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 36px;
                    font-weight: 400;
                    font-family: Playfair Display;
                }

                .line {
                    width: 80px;
                    height: 5px;
                    background-color: #b46e43;
                }
            }

            .category {
                gap: 24px;
                display: flex;

                p {
                    font-size: 14px;
                    font-family: Montserrat;
                    font-weight: 500;
                    opacity: 0.5;
                }

                #active {
                    opacity: 1;
                    padding-bottom: 8px;
                    border-bottom: 3px solid #b46e43;
                }
            }
        }

        .container {
            gap: 18px;
            display: flex;

            .box {
                gap: 24px;
                display: flex;
                flex-direction: column;

                .img {
                    width: 220px;
                    height: 220px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f2f2f2;

                    img {
                        width: 130px;
                    }
                }

                .text {
                    gap: 8px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    font-family: Montserrat;
                    justify-content: center;

                    h2 {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 600;
                        color: #b46e43;
                    }
                }
            }

            .next {

                img {
                    top: 90px;
                    left: 32px;
                    width: 20px;
                    position: relative;
                }
            }
        }
    }
}