*{
    margin: 0;
    padding: 0;
    /* background-color: red; */
}

.sidebar{
    z-index: 1;
    width: 220px;
    height: 677px;
    padding: 24px;
    display: flex;
    position: sticky;
    flex-direction: column;
    background-color: #f2f2f2;
    justify-content: space-between;

    .top{
        gap: 32px;
        display: flex;
        flex-direction: column;

        #logo{
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            font-family: poppins;
            /* background-color: antiquewhite; */
    
            span{
                color: #B46E43;
            }
        }

        .menu{
            align-items: center;

            #active{
                gap: 8px;
                border: none;
                display: flex;
                font-size: 14px;
                font-weight: 500;
                padding: 14px 28px;
                font-family: inter; 
                border-radius: 8px;
                align-items: center;
                text-decoration: none;
                background-color: #feb080;


                p{
                    color: #000;
                }
            }
            a{
                gap: 8px;
                border: none;
                display: flex;
                font-size: 14px;
                font-weight: 500;
                padding: 14px 28px;
                font-family: inter; 
                border-radius: 8px;
                align-items: center;
                text-decoration: none;

                p{
                    color: #000;
                }
            }
        }
    }

    .bottom{
        a{
            gap: 8px;
            border: none;
            display: flex;
            font-size: 14px;
            font-weight: 500;
            padding: 14px 28px;
            font-family: inter; 
            border-radius: 8px;
            align-items: center;
            text-decoration: none;

            p{
                color: #000;
            }
        }
    }
    
}